apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-boot-app
  namespace: app  # Replace 'your-namespace' with the desired namespace
  labels:
    app: spring-boot-app
spec:
  replicas: 4
  selector:
    matchLabels:
      app: spring-boot-app
  template:
    metadata:
      labels:
        app: spring-boot-app
    spec:
      containers:
      - name: spring-boot-app
        image: 905418030005.dkr.ecr.us-east-1.amazonaws.com/fariyaj-spring-boot:replaceImageTag
        ports:
        - containerPort: 8081
